@charset "UTF-8";
/* CSS Document */
/* Fonts */




body {
    font-family: "Montserrat", sans-serif;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
	background-color:#FFFFFF; 
}

.aze {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 70px 30px 70px 30px;
	background-color: white;
	border: solid;
	border-color: #E3E3E3;
}

h1 {
    text-transform: uppercase;
    color: #7C7C7C;
	letter-spacing: 5pt;
}

p{
    color: #7C7C7C;
    font-size: 60px;
}

h2 {
    color:#4ac3b5;
    font-size: 18px;
    text-transform: uppercase;
}

#btn {
    display: auto;
    margin-top: 20px;
    font-size: 23px;
    background: rgba(0, 0, 0, 0.5);
    color: #F6F7F9;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

